@font-face {
    font-family: Lora;
    src: url('../../assets/fonts/Lora-Regular.ttf');
    font-weight: 400;
}

@font-face {
    font-family: Lora;
    src: url('../../assets/fonts/Lora-Medium.ttf');
    font-weight: 500;
}

@font-face {
    font-family: Lora;
    src: url('../../assets/fonts/Lora-SemiBold.ttf');
    font-weight: 600;
}

@font-face {
    font-family: Lora;
    src: url('../../assets/fonts/Lora-Bold.ttf');
    font-weight: 700;
}

*,
*::after,
*::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-size: 62.5%;
}

body {
    font-size: 1.6rem;
    font-family: Lora;
    font-weight: 400;
}

img {
    width: 100%;
    object-fit: cover;
    display: block;
}

button {
    cursor: pointer;
    border-radius: .5rem;
    padding: .5rem;
    outline: none;
}

a {
    text-decoration: none;
}

.container {
    width: 85%;
    margin: auto;
}

@keyframes bg-spin {
    0% {
        transform: rotate(0deg);
    }
    50% {
        transform: rotate(.5deg);
    }
    100% {
        transform: rotate(0deg);
    }
}

@media (prefers-reduced-motion: no-preference) {
    .bg {
        animation: bg-spin infinite 5s linear;
    }
}