.bgSideBar {
    background-color: #073956;
    width: 20%;
    height: 100vh;
    color: white;
    position: fixed;
    top: 0;
    left: 0;
}

.side-content {
    margin: 0 3rem;
}

.side-layout {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 2rem auto;
}

.avatar {
    margin-right: 2rem;
    background-size: cover;
}

.side-nav {
    border-bottom: 1px solid;
    padding: 2rem 0;
}

.active {
    font-weight: 700;
    background-color: cadetblue;
    border-radius: 2rem;
    padding: 1rem;
}

p {
    color: white;
    padding: 1rem .5rem;
}

p:nth-child(1):hover{
 background-color: midnightblue;
 border-radius: 2rem;
}